!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Clients</title>
</head>
<body>
<h1>Liste des Clients</h1>
<table border="1">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Adresse</th>
        <th>Date de Naissance</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${clients}">
        <td th:text="${client.nom}">Nom</td>
        <td th:text="${client.prenom}">Prénom</td>
        <td th:text="${client.email}">Email</td>
        <td th:text="${client.tele}">Téléphone</td>
        <td th:text="${client.adresse}">Adresse</td>
        <td th:text="${client.datenaissance}">Date de Naissance</td>
        <td th:text="${client.genre}">Genre</td>
    </tr>
    </tbody>
</table>
</body>
</html>
